<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/lib/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="demo" :style="{backgroundColor: color}"></div>
		<div class="demo" :style="[myStyle , {height: width+'px'}]"></div>
		<div class="demo" :style="myStyle"></div><br>
		<input type="text" v-model="color">
		<input type="text" v-model="width">

	</div>
    <script src="assets/js/index.js"></script>
</body>
</html>