<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/lib/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="(element, index) in ingredients" :key="element">{{ element }} ({{ index }})</li>
		</ul>
		<input type="text" v-model:value="input">
		<button @click="pushToList">Add New</button>
		<hr>
		<template v-for="(element, index) in ingredients">
			<h1>{{ element }}</h1>
			<p>{{ index }}</p>
		</template>
		<hr>
		<ul>
			<li v-for="person in persons">
				<div v-for="(value, key, index) in person">({{ index }}) {{ key }} :{{ value }} </div>
			</li>
		</ul>
		<hr>
		<ul>
			<span v-for="item in 10">{{ item }}</span>
		</ul>
	</div>
    <script src="assets/js/index.js"></script>
</body>
</html>